<div class="container">
  <div class="row">
   <div class="col-md-4 form-group">
     <select [(ngModel)]="selectedState" class="form-control" (change)="stateChanged()">
       <option *ngFor="let s of states" [ngValue]="s.id" >
         {{s.name}}
       </option>
     </select>
   </div>

   <div class="col-md-4 form-group">
     <select class="form-control">
       <option *ngFor="let vo of relatedVisaCategories">{{vo.name}} </option>
     </select>
   </div>
  </div>
  {{selectedState}}
</div>

<div class="row">
  <form [formGroup]="question">
    <input type="text" formControlName="firstName">
    <input type="text" formControlName="lastName">

    <div formArrayName="aliases">
      <h3>Aliases</h3>
      <div *ngFor="let c of aliases.controls;let i = index">
        <input type="text" [formControlName]="i" >
      </div>
    </div>
    <a (click)="addAliase()" class="btn btn-success">Add Aliase</a>
  </form>


  {{question.value | json}}


</div>
